//extends layout

//link(rel='stylesheet', href='/stylesheets/style_preview.css')

html
  head 
    meta(charset="utf-8")
    title Blinkerize. Memorize in the blink of an eye.
    script.
    style(type='text/css').
      body{background: #{backgroundColor};overflow:hidden;font-size: 100%;}
      #upper_container {width: 100%;height: 49%;position: relative;}
      #upper_textline {white-space:nowrap;font-family:Georgia,"Times New Roman",Times,serif;font-size: #{firstLineTextSize}em;color:#{firstLineColor};overflow:hidden;text-overflow: ellipsis;position: absolute; bottom: 0;width: 100%;}
      #lower_textline{font-family:Georgia,"Times New Roman",Times,serif;font-size: #{secondLineTextSize}em;color: #{secondLineColor};padding-top: 7px;padding-left: 5%;padding-right: 5%;text-overflow:ellipsis;height: 45%;}
      #vocabulary_parent{padding-top:1%;height:93%;width:100%;overflow:hidden;}#blinkerize_div{overflow:hidden;text-align:center;}a#blinkerize{font-family:Calibri, Verdana, Geneva, Arial, Helvetica, sans-serif;font-size:.8em;color:#CCB;text-decoration:none;}

  body
    block content

      div(id='vocabulary_parent')

        center  
          #upper_container
            #upper_textline
          #lower_textline
      #blinkerize_div  
        a(id='blinkerize', href='http://www.blinkerize.com') www.blinkerize.com
  
  script.
  
    vocabulary=!{JSON.stringify(vocabulary)};interval=!{JSON.stringify(delay)};isRandom=!{JSON.stringify(isRandom)};isTitleModified=!{JSON.stringify(isTitleModified)};processVocabulary(vocabulary,interval,isRandom);function processVocabulary(vocabulary,interval,isRandom){vocabulary=vocabulary.replace(/\u2013|\u2014/g,"-");lines=vocabulary.split('\n');for(var i=0;i<lines.length;i++){if((lines[i][0]=='*')||(!lines[i][0])||(lines[i]=="\r")){lines.splice(i,1);i=i-1}}previousLine=displayTextLine(lines,-1,isRandom);var int=self.setInterval(function(){previousLine=displayTextLine(lines,previousLine,isRandom)},interval)}function displayTextLine(lines,previousLine,isRandom){lines_length=lines.length;numberToDisplay=previousLine;if(isRandom){numberToDisplay=Math.floor(Math.random()*lines_length);while((numberToDisplay==previousLine)&&(lines_length!=1)){numberToDisplay=Math.floor(Math.random()*lines_length)}}else{numberToDisplay=numberToDisplay+1}current_line=lines[numberToDisplay];var split_lines=current_line.split(" - ");if(typeof(split_lines[1])=='undefined'){split_lines[1]=''}if(typeof(split_lines[2])=='undefined'){split_lines[2]=''}document.getElementById('upper_textline').innerHTML=split_lines[0];document.getElementById('lower_textline').innerHTML=split_lines[1];previousLine=numberToDisplay;if(isTitleModified){document.title=current_line}if((previousLine==lines_length-1)&&(!isRandom)){previousLine=-1}return previousLine}
  
  

